name: Python package build and publish

on:
  release:
    types: [created]

jobs:
  deploy-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install twine setuptools wheel
    - name: Build source tar
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish wheels to PyPI
      continue-on-error: true
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/*.whl dist/*tar*
